#include "test${INDEX}.h"

namespace ${NAMESPACE}
{
    void foo(std::vector<int> a, std::vector<double> b, std::vector<Struct${NAMESPACE}> c)
    {
        a.push_back(1);
        b.emplace_back(1.f);
        Struct${NAMESPACE} aa;
        aa.temp_.emplace(2.2f, 'a');
        c.emplace_back(aa);
        printf("${NAMESPACE}\n");
    }
}
